{
    admin off # there's no need for the admin api in railway's environment
    persist_config off # storage isn't persistent anyway
    auto_https off # railway handles https for us, this would cause issues if left enabled
    # runtime logs
    log {
        format json # set runtime log format to json mode
    }
    # server options
    servers {
        trusted_proxies static private_ranges 100.0.0.0/8 # trust railway's proxy
    }
}

:{$PORT:3000} {
    # API routes go to the backend service over private networking
    handle /api/* {
        reverse_proxy api.railway.internal
    }
    # Everything else serves the SPA
    handle /app/* {
        reverse_proxy web.railway.internal
    }
	handle /* {
        reverse_proxy marketing-staging-ebb9.up.railway.app
    }
}
